<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Bookings</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>All Bookings</h1>
  <table>
    <tr><th>ID</th><th>Passenger</th><th>Flight</th><th>Amount</th><th>Date</th></tr>
    <tr th:each="b : ${bookings}">
      <td th:text="${b.booking_id}"></td>
      <td th:text="${b.passengerName}"></td>
      <td th:text="${b.flightId}"></td>
      <td th:text="${b.amount}"></td>
      <td th:text="${b.createdAt}"></td>
    </tr>
  </table>
</body>
</html>